@use "../utilities/variables" as *;

.text_box_background {
  text-align: center;
  width: 100%;
  max-width: 1180px;
  z-index: 5;
}

.text_box_background span {
  animation: blinket 2s step-end infinite;
  text-shadow: none;
}

@keyframes blinket {
  from,
  to {
    color: transparent;
    text-shadow: transparent;
  }
  50% {
    color: $accent-color;
    text-shadow: 0 0 10px #cdcdee40, 0 0 10px #cdcdee3a, 0 0 10px #cdcdee30,
      0 0 10px #cdcdee2a, 0 0 10px #cdcdee20, 0 0 10px #cdcdee1a;
  }
}

#main-text-box {
  margin-top: 2rem;
  white-space: pre-wrap;
  min-height: 335px;
}

#main-text-box .welcome-text {
  white-space: normal;
  font-style: normal;
}
