@use "../utilities/variables" as *;

.text_box_background {
  text-align: center;
  width: 100%;
  max-width: 1180px;
  z-index: 5;
}

.text_box_background span {
  animation: blinket 2s step-end infinite;
  border-right: 0.15em solid $primary-color;
}

@keyframes blinket {
  from,
  to {
    border-color: transparent;
    box-shadow: transparent;
  }
  50% {
    border-color: $primary-color;
    box-shadow: 0 0 10px #00ff3350, 0 0 10px #00ff334a, 0 0 10px #00ff3345,
      0 0 10px #00ff333a, 0 0 10px #00ff3335, 0 0 10px #00ff332b;
  }
}
