$base-font-size: calc(15px + 0.390625vw);

$comforter-font-stack: "Comforter", Arial, Helvetica, sans-serif;
$berkshire-font-stack: "Berkshire Swash", "Helvetica Neue", Arial, sans-serif;
$ibmplexmono-font-stack: "IBM Plex Mono", "Courier New", Courier, monospace;
$IBM_VGA-font-stack: "IBM_VGA", monospace, "Courier New", Courier;

$body-background-color: hsl(0, 3%, 6%);
$body-background-image: radial-gradient(
    49% 81% at 50% 50%,
    #073aff00 2%,
    #0000008a 100%
  ),
  radial-gradient(113% 91% at 50% -19%, #11111196 1%, #ff000000 99%),
  radial-gradient(142% 91% at 5% 112%, #000000ff 1%, #0f0e0e00 97%),
  radial-gradient(142% 91% at 92% -13%, #ff000000 1%, #444444ff 99%),
  radial-gradient(142% 91% at 23% 77%, #000000ff 1%, #ff000000 97%),
  radial-gradient(142% 91% at 111% 84%, #3f413dff 0%, #0f0e0eff 100%);

$primary-color: hsl(132, 100%, 50%);
$secondary-color: hsl(41, 100%, 50%);
$accent-color: hsl(240, 49%, 87%);

$min-w-320: 320px;

$max-480: 480px;
$max-760: 760px;
$max-1180: 1180px;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 760px;
$breakpoint-desktop: 1180px;
