@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

::selection {
  color: hsl(0, 0%, 100%);
  background-color: hsl(210, 100%, 50%);
  text-shadow: none;
}

html,
body {
  height: 100%;
}

body {
  z-index: 10;
  min-width: $min-w-320;
  font-size: $base-font-size;
  background-color: $body-background-color;
  background-size: cover;
  background-image: $body-background-image;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: scroll;
}

body::after {
  z-index: 11;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(#000000, 0.15),
    rgba(#000000, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none;
}
