@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.page_wrap {
  @include center-wrapper-1180;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 5em;
}

header {
  position: fixed;
  line-height: 0;
  z-index: 20;
}

header img {
  z-index: 21;
  width: 100%;
  height: auto;
}
