@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.page_wrap {
  @include center-wrapper-1180;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 2em;
  @include responsiv("min-320") {
    padding-top: 3.5em;
  }
  @include responsiv("tablet") {
    padding-top: 4em;
  }
  @include responsiv("desktop") {
    padding-top: 5em;
  }
}

header {
  position: fixed;
  line-height: 0;
  z-index: 20;
}

header img {
  z-index: 21;
  width: 100%;
  height: auto;
}
